[package]
name = "actix-web-prom"
version = "0.2.0"
authors = ["Norberto Lopes <nlopes.ml@gmail.com>"]
edition = "2018"
description = "Actix-web middleware to expose Prometheus metrics"
documentation = "https://docs.rs/actix-web-prom"
repository = "https://github.com/nlopes/actix-web-prom.git"
keywords = ["actix", "actix-web", "middleware", "prometheus", "web"]
categories = ["web-programming"]
license = "MIT"
readme = "README.md"
exclude = [".gitignore", ".travis.yml"]

[badges]
travis-ci = { repository = "nlopes/actix-web-prom", branch = "master" }

[dependencies]
actix-service = "1.0"
actix-web = "3.0.0-alpha.1"
actix-http = "2.0.0-alpha.2"
futures = "0.3"
pin-project = "0.4.8"

[dependencies.prometheus]
default-features = false
version = "0.9.0"

[dev-dependencies]
actix-rt = "1.1.0"
